.container-fluid {
	background-image: url("../images/N0012328051--73446.JPG");
	background-position: center;
	background-size: cover;
}

#centerbox {
	background-color: #3f48cc;
	color: #f8c710;
	border: 2px solid black;
	text-align: center;
	float: none;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: "Comic Sans MS";
	padding-bottom: 1%;
}

#banner {
	max-width: 100%;
}

/* #stuff {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.answerDiv {
	
}

.answerText:hover {
	background-color: red;
	border: 3px solid black;
	height: 100%;
}

#gif {
	max-height: 100%;
	max-width: 100%;
}

/* to make the background extend all the way _____________________________________________________________________________________________________ */

html, body {
	height: 100%;
}

.container-fluid {
	min-height: 100%;
}

/* another way to make the background extending all the way
.container-fluid {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
} */